.spa-modal-city, .spa-modal-city * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.spa-modal-city {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.spa-modal-city-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    font-size: 0;
}

.spa-modal-city-wrap:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.spa-modal-city-content {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 30px 28px;
    width: 410px;
    max-width: 100%;
    background-color: #fff;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
}

.spa-modal-city-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    background: url(images/close.png) center no-repeat;
    cursor: pointer;
}

.spa-modal-city-marker {
    width: 65px;
    height: 65px;
    background: url(images/marker.png) center no-repeat;
}

.spa-modal-city-title {
    margin: 3px 0 14px;
    color: #070707;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.spa-modal-city-error {
    display: none;
    margin-bottom: 10px;
    font-size: 16px;
    color: #a71212;
    font-style: italic;
}

.spa-modal-city-search {
    position: relative;
    margin-bottom: 15px;
}

.spa-modal-city-search__input {
    display: block;
    padding: 0 15px;
    width: 100%;
    height: 50px;
    background-color: #EEF3F6;
    border: 1px solid #CCD5DB;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 50px;
}

.spa-modal-city-search__input::-webkit-input-placeholder {
    color: #6B7E8D;
    font-size: 18px;
}

.spa-modal-city-search__input::-moz-placeholder {
    color: #6B7E8D;
    font-size: 18px;
}

.spa-modal-city-search__input:-moz-placeholder {
    color: #6B7E8D;
    font-size: 18px;
}

.spa-modal-city-search__input:-ms-input-placeholder {
    color: #6B7E8D;
    font-size: 18px;
}

.spa-modal-city-search__input:focus {
    outline: none;
}

.spa-modal-city-search__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 6px 0;
    max-height: 250px;
    background-color: #fff;
    border: 1px solid #CCD5DB;
    border-top: 0;
    overflow-y: scroll;
}

.spa-modal-city-search__item {
    padding: 8px 10px;
    font-size: 18px;
    line-height: 1.3;
    cursor: pointer;
}

.spa-modal-city-search__item:hover {
    background-color: #EEF3F6;
}

.spa-modal-city-search__not-found {
    padding: 0 15px;
    font-size: 18px;
    line-height: 1.3;
    font-style: italic;
}

.spa-modal-city-list {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 26px;
}

.spa-modal-city-list__title {
    color: #070707;
}

.spa-modal-city-list__item {
    margin-bottom: 4px;
}

.spa-modal-city-list__text {
    color: #3A81A2;
    cursor: pointer;
}

.spa-modal-city-button-wrap {
    text-align: center;
}

.spa-modal-city-button {
    display: inline-block;
    padding: 0 21px;
    height: 38px;
    background-color: #99C31C;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #FFF;
    font-size: 18px;
    line-height: 38px;
    white-space: nowrap;
    cursor: pointer;
}

.spa-modal-city-button:hover {
    background-color: #8caf21;
}

@media (min-width: 768px) {
    .spa-modal-city-error {
        font-size: 14px;
    }
    .spa-modal-city-list {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 22px;
    }

    .spa-modal-city-list__item {
        margin-bottom: 0;
    }

    .spa-modal-city-button {
        height: 34px;
        font-size: 15px;
        line-height: 32px;
    }

    .spa-modal-city-content {
        padding: 40px 30px;
    }
    
    .spa-modal-city-search__input {
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }

    .spa-modal-city-search__input::-webkit-input-placeholder {
        font-size: 14px;
    }

    .spa-modal-city-search__input::-moz-placeholder {
        font-size: 14px;
    }

    .spa-modal-city-search__input:-moz-placeholder {
        font-size: 14px;
    }

    .spa-modal-city-search__input:-ms-input-placeholder {
        font-size: 14px;
    }

    .spa-modal-city-button-wrap {
        text-align: left;
    }

    .spa-modal-city-search__dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 6px 0;
        max-height: 160px;
        background-color: #fff;
        border: 1px solid #CCD5DB;
        border-top: 0;
        overflow-y: scroll;
    }

    .spa-modal-city-search__item {
        padding: 4px 10px;
        font-size: 14px;
        line-height: 1.3;
        cursor: pointer;
    }

    .spa-modal-city-search__not-found {
        padding: 0 10px;
        font-size: 14px;
        line-height: 1.3;
        font-style: italic;
    }
}